@use './color' as color;
@use './placeholder';

.contactHero{
    background-image: url(../../../contactHero.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    padding-block-start: 8rem;

    &__content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        background-color: color.$hex_black;

        &__text{
            @extend %hero-fonts;

        }
    }
}