@use './color' as color;
@use './placeholder';

.contactHero{
    background-image: url(../../../contactHero.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    padding-block-start: 8rem;

    &__content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        background-color: color.$hex_black;

        &__text{
            @extend %hero-fonts;

        }
    }
}

.contactDetails{
    margin-block-end: 6rem;

    &__content{
        width: 50%;
        margin: 30px auto;
        text-align: center;

        &__headText{
            @extend %btn-fonts;
            font-size: 22px;
            text-transform: uppercase;
            padding-block: 3rem 1rem;
        }

        &__text{
            @extend %regular-fonts;
            font-size: 17px;
            color:  color.$midnight_color;
            padding-block: 1rem;
            font-weight: 500;

            &__link{
                @extend %regular-fonts;
                font-size: 17px;
                color:  color.$midnight_color;
                font-weight: 500; 
            }
        }
    }
}