@font-face {
    font-family: 'Inter';
    src: url(../Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: 'Lobster';
    src: url(../Fonts/Lobster/Lobster-Regular.ttf);
}

@font-face {
    font-family: 'Arsenal';
    src: url(../Fonts/Arsenal/Arsenal-Regular.ttf);
}

$primary-font: 'Inter', sans-serif;
$Logo-Font: 'Lobster', sans-serif;
$regularText-Font: 'Arsenal', sans-serif;