@use './color' as color;
@use './font' as font;
@use './placeholder';
.footerContainer{
    
    &__logo{
        width: 4%;
        margin: 30px auto;
    }

    &__iconContainer{
        text-align: center;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        
        
        &__icon{
            width: 30px;
            height: 30px;
            font-size: 25px;
            color: color.$sunset_yellow;
            background-color: color.$navy_blue;
            border-radius: 50%;
            padding: 5px;
            margin: 0 10px;
            cursor: pointer;
        }
    }

    &__footer{

        &__text{
            text-align: center;
            padding: 10px;
            @extend %btn-fonts;
        }
    }
}

.name{
    text-decoration: none;
    color: color.$navy_blue;
    font-family: font.$Logo-Font;
}

@media screen and (max-width: 839px) {
    .footerContainer{
    
        &__logo{
            width: 10%;
            margin: 30px auto;
        }
    }
}