@use './placeholder';
@use './color' as color;
@use './mixins';

.Header{
    width: 100%;
    height: 7rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
        &__logo{
            @extend %logo;
        }
        &__content{
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;

            &__reserveButton{
                width: 50%;
                height: auto;
                @include mixins.btn;
                @extend %btn-fonts;
            }

            &__hamburger{

                &__button{
                    font-size: 35px;
                    padding: 5px;
                    margin-inline-start: 10px;
                    border: none;
                    color: color.$navy_blue;
                 

                    
                }
            }
        }
}
