@use './color' as color;
@use './placeholder';

.navList{
    height: 495px;
    width: 20%;
    padding-block-start: 2rem;
    box-shadow: 1px 1px 5px color.$navy_blue;
    position: fixed; 
    right: 0;
    background-color: color.$snow_white;
    z-index: 2;
    margin-block-start: 7.1rem;
    // transform: translateX(0);
    // transition: 1.5s ease;

    
    &__Item{
        display: flex;
        flex-direction: column;
        align-items: center;

        &__menuItems{
            @extend %btn-fonts;
            font-size: 14px;
            font-weight: 600;
            margin-block: 0.7rem;
            text-decoration: none;
            color: color.$navy_blue;
        }

        &__active{
            @extend %btn-fonts;
            font-size: 14px;
            font-weight: 600;
            margin-block: 0.7rem;
            text-decoration: none;
            color: color.$sunset_yellow;
            text-decoration: underline;

            
        }
    }
}

// .visible{
//     right: 0;
//     transform: translateX(10%);
//     transition: 1.5s ease all;
// }

@media screen and (max-width: 743px) {
    .navList {
      width: 100%;

      &__Item{

        &__menuItems{
            font-size: 30px;
            margin-block: 0.7rem;
        }

        &__active{
            font-size: 30px;
            margin-block: 0.7rem;         
        }
      }
    }
}