@use './font' as font;
@use './color' as color;

%logo{
    font-family: font.$Logo-Font;
    font-size: 50px;
    color: color.$navy_blue;
}

%btn-fonts{
    font-family: font.$primary-font;
}

%hero-fonts{
    font-family: font.$primary-font;
    color: color.$snow_white;
    font-size: 70px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

%regular-fonts{
    font-family: font.$regularText-Font;
    color: color.$navy_blue;
}