@use './placeholder';
@use './color' as color;

.tabby{
   
   &__tabbyButton{
        display: flex;
        justify-content: center;
        
        &__active{
            @extend %btn-fonts;
            border: none;
            width: 200px;
            background-color: color.$midnight_color;
            color: color.$sunset_yellow;
            margin-inline-start: 15px;
            text-transform: uppercase;

        }

        &__button{
            @extend %btn-fonts;
            border: 1px solid color.$sunset_yellow;
            width: 200px;
            color: color.$midnight_color;
            margin-inline-start: 15px;
            text-transform: uppercase;

            &:hover{
                background-color: color.$midnight_color;
                color: color.$sunset_yellow;
                transition: 1s;
                border: none;
            }
        }
    }    
}

.tabby__eachBtnContent{
    
    
    .tabby__content{
        width: 60%;
        margin: auto;
        text-align: center;

        &__firstText{
            @extend %btn-fonts;
            margin: 40px 0;
        }

        &__priceText{
            @extend %regular-fonts;
            margin: 40px 0;
            font-weight: 600;
        }
        
        &__secondText{
            @extend %regular-fonts;
            font-size: 1.15rem;
            color: color.$midnight_color;
            font-weight: 600;
            margin-block-end: 15px;
        }

        &__thirdText{
            @extend %regular-fonts;
            font-size: 14px;
            color: color.$sunset_yellow;
            font-weight: 600;
            margin-block-end: 10px;
        }

        &__dash{
            @extend %regular-fonts;
            font-weight: bold;
            margin-block: 40px;
        }

        &__fourthText{
            @extend %regular-fonts;
            font-size: 14px;
            font-weight: 600;
            margin-block-end: 10px;
            color: color.$midnight_color;

            &__underline{
                text-decoration: underline;
            }
        }

        &__emailText{
            @extend %regular-fonts;
            font-size: 14px;
            color: color.$midnight_color;
            font-weight: 600;
            margin-block: 30px;

            &__email{
                color: color.$sunset_yellow;
            }
        }

        &__button{
            @extend %btn-fonts;
            font-size: 14px;
            width: 30%;
            height: 40px;
            font-weight: bold;
            border: 1px solid color.$sunset_yellow;
            text-transform: uppercase;
            cursor: pointer;
            margin-block-end: 1.5rem;

            &:hover{
                color: color.$snow_white;
                background-color: color.$sunset_yellow;
                border: none;
                transition: 1s;
            }
        }
    }
}

.tabby__content1{
    width: 90%;
    margin: auto;
    text-align: center;

    .tabby__imgcontainer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    
        .wineImages{
            width: 30%;
            height: 250px;
            margin: 15px;
            border-radius: 5px;
        }
    }
}

